.maket{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 100px;

}

.header{
    background: red;
    grid-row: 1 / 2;

}

.main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 2 / 3;
    max-width: 70vw;
    justify-self: center;
}

.block1{
    background: blue;
    width: 400px;
}

.block2{
    background: blueviolet;
}

.footer{
    background: green;
    grid-row: 3 / 4;
}